@font-face {
	font-family: "Digital Dismay";
	src: url("/fonts/digital-dismay.otf");
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#board {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	border-collapse: collapse;
}

#board td {
	height: 16px;
	width: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	background-image: url('../sprite.png');
	background-repeat: no-repeat;
}

footer {
	text-align: center;
}

footer svg {
	vertical-align: middle;
}